body{ font-family:'Montserrat', sans-serif;
    background: #f5f5f5;}
ul{display: flex; list-style-type: none;}
a{text-decoration: none;color:rgb(0, 0, 0);transition:3s all;}
/* ELEMENTO */
.fw-bold{font-weight: bold;}
*{margin: 0;}
.img-fluid{width: 100%;
height: auto;}
p{font-size: 14px;}
.text_align{text-align: center;
padding-top: 15px;}
